In [122]:
import pandas as pd
from sqlalchemy import create_engine

In [123]:
# 1. Database Connection
engine = create_engine(
    "mysql+pymysql://root:root@localhost:3306/consumer360_dw")

query = """
SELECT
    c.customer_id,
    f.order_id,
    t.date_time AS order_date,
    f.total_price
FROM consumer360_dw.fact_sales f
JOIN consumer360_dw.dim_customer c
    ON f.customer_key = c.customer_key
JOIN consumer360_dw.dim_time t
    ON f.time_key = t.time_key;"""

In [124]:
# 2. Data Extraction (SQL â†’ Pandas)
df = pd.read_sql(query, engine)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   customer_id  1000000 non-null  object
 1   order_id     1000000 non-null  object
 2   order_date   1000000 non-null  datetime64[ns]
 3   total_price  1000000 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 30.5+ MB

In [125]:
# 4. RFM Calculation
reference_date = df['order_date'].max()+pd.Timedelta(days=1)
rfm = df.groupby('customer_id').agg({
    'order_date': lambda x: (reference_date - x.max()).days,
    'order_id': 'count',
    'total_price': 'sum'
}).reset_index()
rfm.columns = ['customer_id', 'Recency', 'Frequency', 'Monetary']

In [126]:
# 5. RFM Segmentation
rfm['R_score'] = pd.qcut(rfm['Recency'], 5, labels=[5,4,3,2,1])
rfm['F_score'] = pd.qcut(rfm['Frequency'], 5, labels=[1,2,3,4,5])
rfm['M_score'] = pd.qcut(rfm['Monetary'], 5, labels=[1,2,3,4,5])

In [127]:
rfm['RFM_score'] = (
    rfm['R_score'].astype(str) +
    rfm['F_score'].astype(str) +
    rfm['M_score'].astype(str)
)

In [140]:
def segment_customer(row):
    if row['R_score'] >= 4 and row['F_score'] >= 4 and row['M_score'] >= 4:
        return 'Champion'
    elif row['R_score'] >= 3 and row['F_score'] >= 3:
        return 'Loyal'
    elif row['R_score'] >= 2:
        return 'Hibernating'
    else:
        return 'Potential'

In [141]:
rfm['Segment'] = rfm.apply(segment_customer, axis=1)

In [148]:
# rfm.groupby('Segment')['customer_id'].count()
rfm.groupby('Segment')['Monetary'].mean().sort_values(ascending=False)

Segment
Champion       12978.107331
Loyal          11806.509305
Potential      11341.378304
Hibernating    10913.386685
Name: Monetary, dtype: float64

In [23]:
# 6. Market Basket Analysis
query_mba = """
SELECT
    c.customer_id,
    i.item_name
FROM consumer360_dw.fact_sales f
JOIN consumer360_dw.dim_item i
    ON f.item_key = i.item_key
JOIN consumer360_dw.dim_customer c
    ON f.customer_key =c.customer_key;
"""
basket_df = pd.read_sql(query_mba, engine)

In [64]:
# to find a top items because the Apriori does 
# not scale well on high-dimensional retail data. 
# To ensure production feasibility, I filtered to top-selling products and increased minimum support
top_items = (
    basket_df['item_name']
    .value_counts()
    .head(30)      # keep top 50 items
    .index
)

In [65]:
basket_df_filtered = basket_df[
    basket_df['item_name'].isin(top_items)]

In [66]:
basket = (
    basket_df_filtered
    .groupby(['customer_id', 'item_name'])
    .size()
    .unstack(fill_value=0)
)

basket = basket.map(lambda x: 1 if x > 0 else 0)

In [27]:
# pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

In [67]:
frequent_itemsets = apriori(
    basket,
    min_support=0.03,
    use_colnames=True
)

C:\Users\mohamedirfan\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:175: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [90]:
rules = association_rules(
    frequent_itemsets,
    metric="lift",
    min_threshold=1
)

In [91]:
strong_rules = rules[
    (rules['confidence'] >= 0.6) &
    (rules['lift'] >= 1.1) &
    (rules['support'] >= 0.02)
].sort_values(by='lift', ascending=False)

In [95]:
# strong_rules[['antecedents', 'consequents','support', 'confidence', 'lift']]

In [144]:
# this for validation
validation=rfm.groupby('Segment').agg({
    'Monetary': ['mean','sum'],
    'Frequency': 'mean',
    'Recency': 'mean'
}).round(2)

validation

             Monetary              Frequency Recency
                 mean          sum      mean    mean
Segment
Champion     12978.11  14782064.25    120.40    6.37
Hibernating  10913.39  44013688.50    103.49   18.82
Loyal        11806.51  26009740.00    113.47   12.17
Potential    11341.38  20595943.00    107.65   61.96

In [145]:
rfm.sort_values(by='Monetary', ascending=False).head(10)

,customer_id,Recency,Frequency,Monetary,R_score,F_score,M_score,RFM_score,Segment
4348,C004349,9,137,17104.50,4,5,5,455,Champion
5315,C005316,10,149,16853.25,4,5,5,455,Champion
272,C000273,64,135,16645.75,1,5,5,155,Potential
1437,C001438,8,138,16381.50,4,5,5,455,Champion
7552,C007553,13,143,16288.75,4,5,5,455,Champion
7414,C007415,11,123,16282.50,4,5,5,455,Champion
8008,C008009,74,118,16194.75,1,4,5,145,Potential
7204,C007205,24,129,16154.50,2,5,5,255,Hibernating
2967,C002968,11,140,16006.50,4,5,5,455,Champion
6901,C006902,19,128,15977.25,3,5,5,355,Loyal

In [146]:
rfm.groupby('Segment')['Monetary'].sum() / rfm['Monetary'].sum() * 100

Segment
Champion       14.024538
Hibernating    41.758149
Loyal          24.676837
Potential      19.540477
Name: Monetary, dtype: float64